@charset "UTF-8";

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

body {
  width: 100%;
  font-family:Quicksand,游ゴシック体,YuGothic,'ヒラギノ角ゴシック Pro',メイリオ,Meiryo,'MS Pゴシック',sans-serif;
}

.post_box {
  width: 800px;
  margin: 0 auto;
  border: 1px dashed gray;
  }

.btn-wrap {
  float: left;
  margin-right: 10px;
  }