@charset "utf-8";


/* WEBフォントのフォントの設定*/
.wf-nicomoji { font-family: "Nico Moji"; }

/*----- #body -----*/
#body {
  font-family: "Nico Moji";
  }

/*----- #all -----*/
#all {
  width: 100%;
  }


/*----- .wrapper -----*/
.wrapper {
  width: 500px;
  margin: 0 auto;
  }

/* #form-ttl */
#form-ttl {
  padding: 30px 0;
  }

/*-----------------------------------------
                投稿フォーム
-------------------------------------------*/

/* .form-wrap */
.form-wrap {
  margin-bottom: 30px;
  padding: 20px;
  background: #ecf0f1;
  border-bottom: 3px solid #1abc9c;
  }
/* .body-wrap */
.body-wrap {
  margin-bottom: 20px;
  }
  /* .form-body */
  .form-body {
    width: 100%;
    }
  /* .form-item */
  .form-item {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    }
/* .password-wrap */
.password-wrap {
  margin-bottom: 20px;
  }
/* .post-btn */
.post-btn {
  float: right;
  }

/*-----------------------------------------
                投稿一覧
-------------------------------------------*/
/*　.sub-ttl */
.sub-ttl {
  margin-bottom: 20px;
  }
/* .post-list */
.post-list {
  margin-bottom: 30px;
  padding: 10px;
  background: #ecf0f1;
  }
/* .post-wrap */
  .post-card {
    border-bottom: 2px solid #3498db;
    }
  /* .post-header */
  .post-header {
    margin-bottom: 20px;
    }

    /* .post-name */
    .post-body {
      margin-bottom: 10px;
      }

    /* .post-date */
    .post-date {
      float: right;
      }

  /* .post-body */
  .post-body {
    padding: 0 30px;
    margin-bottom: 40px;
    }

  /* .reply */
  .reply {
    float: left;
    }

  /* .delete-btn */
  .delete-btn {
    float: right;
    }

  /* .edit-btn */
  .edit-btn {
    float: right;
    margin-right: 10px;
    }

/* .reply-wrap */
.reply-wrap {
  width: 100%;
  }

  /* .reply-list */
  .reply-list {
    padding-left: 40px;
    width: 90%;
    float: right;
    }

    /* .reply-icon */
    .reply-icon {
      float: right;
      width: 5%;
      }
    /* .post-inner */
    .post-inner {
      border-bottom: 2px solid #f39c12;
      }
/*-----------------------------------------
                返信フォーム
-------------------------------------------*/
/* .back-button */
.back-button {
  display: block;
  float: right;
  }

/*----- icon ----- */
.fa-angle-double-right {
  font-size: 30px;
  color: #2980b9;
  }
