{% if row.children %}
{% for children_row in row.children %}
<div class="reply-wrap clearfix">
  <div class="reply-card reply-list clearfix">
    <div class="post-inner post-list">
      <div class="post-header">
        <span class="post-name">なまえ:{{ children_row.name }}</span>
        <span class="post-date">{{ children_row.post_date }}</span>
      </div>
      <p class="post-body">{{ children_row.form_body }}</p>
      <div class="image-wrapper">
        {% for children_files in children_row.files %}
          <img src="data:image/jpeg;base64,{{ children_files.contents }}" alt="投稿画像" width="250px" height="150px">
        {% endfor %}
      </div>
      {% include 'btn-wrapper.html' with {row: children_row} %}
      </div>
      {% include 'child_post.html' with {row: children_row} %}
  </div>
  <div class="reply-icon">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>
{% endfor %}
{% endif %}
