{% if row.children %}
{% for children_row in row.children %}
<div class="reply-wrap clearfix">
  <div class="post-list reply-card reply-list clearfix">
    <div class="post-header">
      <span class="post-name">なまえ:{{ children_row.name }}</span>
      <span class="post-date">{{ children_row.post_date }}</span>
    </div>
    <p class="post-body">{{ children_row.form_body }}</p>
    <div class="btn-wrapper clearfix">
      <form action="reply.php" method="post">
        <input type="hidden" name="post_id" value="{{ row.id }}">
        <button class="reply btn btn-primary" type="submit" name="reply_btn">へんしん</button>
      </form>
      <form action="delete.php" method="post"><input type="hidden" name="post_id" value="{{ row.id }}">
        <button class="delete-btn btn btn-danger" type="submit" name="delete_btn">さくじょ</button>
      </form>
      <form action="edit.php" method="post">
        <input type="hidden" name="post_id" value="{{ row.id }}">
        <button class="edit-btn btn btn-warning" type="submit" name="edit_btn">へんしゅう</button>
      </form>
    </div>
  </div>
  <div class="reply-icon">
      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </div>
</div>
{% endfor %}
{% endif %}
