<!DOCTYPE html>
<html lang="ja">
{% include 'head.html' %}
  <body id="body"　class="wf-nicomoji">
  <div id="all">
    <div class="wrapper clearfix">
      {% include 'header.html' %}
      <div class="form-wrap">
        <form action="delete_post.php" method="post" accept-charset="utf-8">
          <h2 class="sub-ttl">さくじょフォーム</h2>
          {% include 'form_message.html' %}
          <div class="text-box form-group">
            <span class="form-item">パスワード</span><br>
            <input class="form-password from-control" type="password" name="password"><br>
            <span class="post-btn">
              <input class="form-text" type="submit" name="delete_post" value="さくじょ">
            </span>
          </div>
          {{dump(data.parent_post.id)}}
          <input type="hidden" name="post_id" value="{{ data.parent_post.id }}">
        </form>
      </div>
      {% include 'object_post.html' %}
      <a href="index.php">
      <span class="back-button">TOPへもどる</span>
      </a>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
