<!DOCTYPE html>
<html lang="ja">
{% include 'head.html' %}
  <body id="body" class="wf-nicomoji">
  <div id="all">
    <div class="wrapper clearfix">
      {% include 'header.html' %}
      <div class="form-wrap">
        <form action="edit_post.php" method="post" accept-charset="utf-8">
          <h2 class="sub-ttl">へんしゅうフォーム</h2>
          {% include 'form_message.html' %}
          <div class="text-box form-group">
            <span class="form-item">なまえ</span><span class="parent_name">{{ data.parent_post.name }}</span>
            <span class="form-item">ほんぶん</span><br>
            <textarea class="form-body" name="form_body" cols="auto" rows="10">{{ data.parent_post.form_body}}</textarea><br>
            <span class="form-item">記事パスワード</span><br>
            <input class="form-password from-control" type="password" name="password"><br>
            <input type="hidden" name="post_id" value="{{ data.parent_post.id }}">
            {% for file in data.file %}
              <img src="../file_load.php?id={{ file.id }}" alt="投稿画像" width="250px" height="150px">
            {% endfor %}
            <input type="file" name="upload" accept="image/*,video/*" multiple>
            <div>
              <span class="post-btn">
                <input class="form-text" type="submit" name="edit_post" value="へんしゅう">
              </span>
            </div>
          </div>
        </form>
      </div>
      <a href="index.php">
      <span class="back-button">TOPへもどる</span>
      </a>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
