<!DOCTYPE html>
<html lang="ja">
  {% include 'head.html' %}
  <body id="body" class="wf-nicomoji">
    <div id="all">
      <div class="wrapper clearfix">
      {% include 'header.html' %}
        <div class="form-wrap">
          <form action="post.php" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <h2 class="sub-ttl">とうこうフォーム</h2>
            {% include 'form_message.html' %}
            <div class="text-box form-group">
              <span class="form-item">なまえ</span>
              <input class="form-text form-control" type="text" name="name"><br>
            </div>
            <div class="text-box form-group clearfix">
              <div class="body-wrap">
                <span class="form-item">ほんぶん</span>
                <textarea class="form-body" name="form_body" cols="auto" rows="10"></textarea><br>
              </div>
              <div class="upload-wrap">
                <span class="form-item">ファイルアップロード</span>
                  <input type="file" name="upload" accept="image/*,video/*" multiple>
              </div>
              <div class="password-wrap">
                <span class="form-item">パスワード</span>
                <span class="">
                  <input class="form-password from-control" type="password" name="password"><br>
                </span>
              </div>
              <span class="post-btn">
                <input class="form-text btn btn-primary" type="submit" name="form_post" value="そうしん">
              </span>
            </div>
          </form>
        </div>
        <h2 class="sub-ttl">とうこういちらん</h2>
        {% for row in data.tree %}
          {% include 'parent_post.html' %}
          {% include 'child_post.html'%}
        {% endfor %}
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
