<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>井上のBBS</title>
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  </head>
  <body style="margin: 0;　font-family: "Nico Moji";>
    <div style="background-color: #ecf0f1; height: auto; margin: 0;" id="all">
      <div class="all-inner" style="width: 60%; margin: 0 auto;">
        <div class="wrapper" style="width: 500px; margin: 0 auto;">
          <h1 id="form-ttl" style="margin: 0;">井上のBBS</h1>
          <div class="form-wrap">
            <form action="post.php" method="post" accept-charset="utf-8">
              <h2 class="sub-ttl">投稿フォーム</h2>
              {% if message is same as(true) %}
                <span class="success-message">投稿を送信しました。</span>
              {% elseif message %} 
              {% for value in message %}
                <span class="error-message">{{ value }}</span><br>
              {% endfor %}
              {% endif %}
              <div class="text-box form-group">
                <span class="form-item">名前</span>
                <input class="form-text form-control" type="text" name="name"><br>
              </div>  
              <div class="text-box form-group">
                <span class="form-item">本文</span><br>
                <textarea class="form-body" name="form_body" cols="68" rows="10"></textarea><br>
                <span class="form-item">パスワード</span><br>
                <span style="display: inline-block;"> 
                  <input style="display: inline-block;" class="form-password from-control" type="password" name="password"><br>
                </span>
                <span style="padding: 20px;" class="post-btn">
                  <input style="padding: 10px" class="form-text" type="submit" name="form_post" value="投稿">
                </span>
              </div>
            </form>  
          </div>
          <h2 class="sub-ttl">投稿一覧</h2>
          {% for row in output %}
            <div class="post-list" style="border-bottom: 3px solid #3498db; padding: 20px 20px 40px 20px;margin-bottom: 40px; background: #fbfbfb;">
              <span style="margin-bottom: 10px;"  class="post-name">名前:{{ row.name }}</span>
              <span style="float: right; clear: both;" class="post-date">{{ row.post_date }}</span><br>
              <p class="post-body">{{ row.form_body }}</p><br>
              <form action="index.php" method="post">
                <input type="hidden" name="post_id" value="{{ row.id }}">
                <button style="float:left; height: 25px;" class="reply" type="submit" name="reply_btn">返信する</button>
              </form>
              <form action="delete.php" method="post"><input type="hidden" name="post_id" value="{{ row.id }}">
                <button style="float: right; height: 25px; background: #c0392b; border:none; color: #fff; border-radius: 2px;" class="delete-btn" type="submit" name="delete_btn">削除</button>
              </form>
              <form action="edit.php" method="post">
                <input type="hidden" name="post_id" value="{{ row.id }}">
                <button style="float: right; height: 25px; margin-right: 10px;" class="edit_btn" type="submit" name="edit_btn">編集</button>
              </form>
            </div>
            {% if row.children %}
            {% for children_row in row.children %}
            <div class="reply-post">
              <span class="post-name">名前:{{ children_row.name }}</span>
              <span class="post-date">{{ children_row.post_date }}</span>
              <p class="post-body">{{ children_row.form_body }}</p>
            </div>
            <form action="index.php" method="post">
              <input type="hidden" name="post_id" value="{{ row.id }}">
              <button class="reply" type="submit" name="reply_btn">返信する</button>
            </form>
            <form action="delete.php" method="post"><input type="hidden" name="post_id" value="{{ row.id }}">
              <button class="delete-btn" type="submit" name="delete_btn">削除</button>
            </form>
            <form action="edit.php" method="post">
              <input type="hidden" name="post_id" value="{{ row.id }}">
              <button class="edit_btn" type="submit" name="edit_btn">編集</button>
            </form>
            {% endfor %} 
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
